<!DOCTYPE html>
<html lang="en">
<style>
    h1
    {
        text-align:center;
        color: #36563c;  <!-- 千岁绿 -->
    }
    p
    {
        font-family: 方正宋刻本秀楷简体;
        color: #36563c;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<h1 style="font-family: 方正苏新诗柳楷简体"> 欢迎来到智慧博物馆在线 </h1>
    <form action="/index/" method="post">
        <p> 请输入搜索内容: </p>
        <input type="text" style="font-family: 方正宋刻本秀楷简体" name="search_content" size="40"/>
        <input type="submit" style="font-family: 方正宋刻本秀楷简体" name="search_submit" value="搜索"/>
    </form>
    <pre>{{ return_result }}</pre>
<p> 相关推荐：</p>
    {% for line in recommend %}
        <form action="/index/{{ line }}" method="post">
            <button>{{ line }}</button>
            <p></p>
        </form>
    {% endfor %}
<p> 使用指南：</p>
<p>如果想要获取某一文物的相关信息，以后母戊鼎为例，只需输入文物名“后母戊鼎”，并点击查询。</p>
<p>直接输入朝代名，例如“清”可以得到清朝的所有文物。省份、用途同理。</p>
<p>也支持直接按照编号索引进行查询。比如输入“【文物】1”，就可以得到编号为1的文物。【朝代】、【省份】、【用途】同理。</p>
<p>除此之外，可以输入【搜索】后加想要搜索的文物的名，比如“【搜索】乾隆”，就会得到所有名字中带乾隆的文物以及信息。"</p>
</body>
</html>