<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智慧博物馆用户登录</title>
</head>
<body>
<h1 style="..." align="center">用户登录</h1>
    <!--这个地方action = '/index/'的意思应该是执行动作以后转跳到/index/-->
    <form action="/index/" method="post" align="center">
        <span> 用户名: </span>
        <input type="text" name="username"/>
        <p></p>
        <span> 密码: </span>
        <input type="password" name="password"/>
        <p></p>
        <input type="submit" name="login" value="登录"/>
        <input type="submit" name="register" value="注册"/>
        <input type="submit" name="tourist" value="游客登录"/>
    </form>
</body>
</html>