{% load static %} 

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 使用 static 关键字-->
    /
    <script src="{% static 'djoncharts/js/echarts.js' %}"></script>

</head>
</html>
<body>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width:1280px;height:850px;"></div>
    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
                title: {
                    text: 'Step Line'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['Step Start', 'Step Middle', 'Step End']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'Step Start',
                        type:'line',
                        step: 'start',
                        data:[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name:'Step Middle',
                        type:'line',
                        step: 'middle',
                        data:[220, 282, 201, 234, 290, 430, 410]
                    },
                    {
                        name:'Step End',
                        type:'line',
                        step: 'end',
                        data:[450, 432, 401, 454, 590, 530, 510]
                    }
                ]
};
        
        // 使用刚指定的配置项和数据显示图表
        myChart.setOption(option);
    </script>
</body>
